* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

aside h1 {
  
  font-size: 64px;
  font-weight: 500;
  line-height: 75px;
}

aside h1 span {
  color: #FF5678;
}

main {
  width: 60rem;
  height: 52rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.15);
}

main h2 {
  width: 43rem;
  font-size: 3.6rem;
  font-weight: 500;
}