aside h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  font-weight: 500;
  line-height: 75px;
}

aside h1 span {
  color: #FF5678;
}

main {
  width: 600px;
  height: 520px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}